spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/MicroProduct
    username: postgres
    password: 23Cel
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgresPlusDialect
    hibernate:
      ddl-auto: create-drop
project:
  images: Product/images/

server:
  port: 8182

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rolling policy:
      max-file-size: 5MB
      max-history: 7

management:
  endpoints:
    web:
      exposure:
        include: "*"

# For Zipkin
  tracing:
      sampling:
        probability: 1.0