spring:
  datasource:
    url: ${DB_URL}/product
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: ${DB_DIALECT}


  cloud:
    function:
      definition: paidProducts
    stream:
        bindings:
          paidProducts-in-0:
            destination: payment.completed
            content-type: application/json
            group: product-consumer

        kafka:
          binder:
            brokers: kafka:9092

project:
  images: Product/images/

server:
  port: 8182

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
        defaultZone: http://eureka:8761/eureka/



logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rolling policy:
      max-file-size: 5MB
      max-history: 7

management:
  endpoints:
    web:
      exposure:
        include: "*"

# For Zipkin
  tracing:
      sampling:
        probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans