spring:
#  expirationMs: 36000000
#  secreteKey: dftyghujkiolijuhgfdsfghjkiuytredfghjuytrfdghjuytrfdgvhjuytrfghjyutrdfghytrdfghytrfdvghjytrfdcfghjgfd
#  cookieName: ecomcokie

  data:
    mongodb:
      uri: mongodb://mongo:27017/userdb
      database: userdb

server:
  port: 8181
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://eureka:8761/eureka/




logging:
  level:
    root: INFO
#    or if you want to apply trace on a particular package or project

  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7

management:
  endpoints:
    web:
      exposure:
        include: "*"

# For Zipkin
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

# KEYCLOAK
keycloak:
    admin:
     username: ${KC_USER_PASSWORD}
     password: ${KC_USERNAME}
     server-url: http://keycloak:8080
     realm: ecom-app
     clientId: admin-cli
     clientUUId: 788e33f4-b25c-4b59-bbc7-1dcb13591e32
       





