spring:
  application:
    name: configserver
  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

# Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}


server:
  port: 8888

